@font-face {
  font-family: IlexSans;
  src: url(DejaVu/DejaVuSans.ttf)
}

@font-face {
  font-family: IlexSansBold;
  src: url(DejaVu/DejaVuSans-Bold.ttf)
}

@font-face {
  font-family: IlexSansOblique;
  src: url(DejaVu/DejaVuSans-Oblique.ttf)
}

@font-face {
  font-family: Awesome;
  src: url(fontawesome-webfont.ttf)
}
