@import url("css/reset.css");

div:focus {
  outline: 0;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

::selection {
  background: #a8d1ff; /* WebKit/Blink Browsers */
}

.ilex-highlight {
  background: #a8d1ff; /* WebKit/Blink Browsers */
}
