@import url("css/reset.css");
@import url("css/font.css");

body {
  font-family: IlexSans;
  font-size: 12pt;
}

div:focus {
  outline: 0;
}

/*CSS is based on Metro UI design*/
/*becouse it's flat and looks well :)*/
/*https://metroui.org.ua/*/

/*https://developer.mozilla.org/en-US/docs/Web/CSS/::selection*/
.ilex-content span::selection {
  /*background: rgba(215, 40, 40, 0.2); /* don't draw default selection color */
  background: transparent;
}

/*ilex links styling*/
.ilex-connection {
  color: #00f;
  text-decoration: underline;
}

/*ilex buttons styling */
.ilex-button {
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px #d9d9d9 solid;
  color: #262626;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-family: IlexSans;
}

.ilex-button.ilex-rect-button {
  padding: 0 10px;
  line-height: 30px;
}

.ilex-button.ilex-active {
  background-color: #eaeaea;
  border-color: #787878;
}

.ilex-awesome {
  font-family: Awesome;
}

.ilex-awesome span {
  font-family: IlexSans;
}

.ilex-button:hover {
  border-color: #787878;
}

.ilex-button:active {
  background-color: #eaeaea;
}

.ilex-button:disabled, .ilex-button.disabled {
		background-color: #eaeaea;
		color: #bebebe;
		cursor: default;
		border-color: transparent;
	}

.ilex-button.ilex-cycle {
  padding: 0;
  vertical-align: middle;
  line-height: 40px;
  width: 40px;
  border-radius: 50%;
}

.ilex-button.ilex-disabled {
  background-color: #eaeaea;
  color: #bebebe;
  cursor: default;
  border-color: transparent;
}

.ilex-separator {
  margin: 0 10px;
  display: inline-block;
}
